.divClass h1 {
    color: #4d3759;
}
#thirdDiv #hamburguesa {
    width: 400px;
    
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: #dc899b;
    padding: 50px;
    border: 4mm ridge #714765;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}